<div class="LoliPlaylist-wrapper">
  <select class="LoliPlaylist real" v-model="selected" multiple v-attr="size: songs.length">
    <option class="option" v-repeat="song:songs" v-on="dblclick: play($index)" value="{{$index}}">
    </option>
  </select>
  <div class="LoliPlaylist overlay">
    <div class="option" v-repeat="s:isSelected" v-class="selected: s"></div>
  </div>
  <div class="LoliPlaylist fake">
    <div class="option fake-option" v-repeat="song:songs">
      <div v-class="selected: isSelected[$index]">
        <div class="rate">x {{song.rate | rate}}</div>
        <div class="duration">{{song.duration | time}}</div>
        <div class="title">{{song.name}}</div>
        <div class="index">{{$index}}.</div>
      </div>
    </div>
  </div>
</div>
