$option-height: 16px;
$option-font-size: 10.5px;

.LoliPlaylist-wrapper {
  position: absolute;
  top: 0; left: 0;
  margin: 10px 10px 14px;
  border: 1px solid #FFAABB;
  width: calc(100% - 22px);
  height: calc(100% - 26px);
  overflow-x: hidden;
  overflow-y: auto;
}
.LoliPlaylist {
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  background: none;
  min-height: 100%;

  // Show title/duration/rate
  &.fake    {
    z-index: 1;
  }

  // Select this
  &.real    {
    z-index: 2; opacity: 0;
  }

  // Drag this
  &.drag {
    z-index: 3;
    pointer-events: none;
    .option {
      opacity: 0;
      pointer-events: none;
    }
    .option.selected {
      opacity: 1.0;
      background: #FF9AB7;
      pointer-events: auto;
    }
  }
  &.dragging {
    .option.selected {
      height: 0px;
    }
  }

  .option {
    width: 100%;
    height: $option-height;
    font-size: $option-font-size;
    overflow: hidden;

    transition-property: height, margin-top;
    transition-duration: 0.1s, 0.1s;
  }

  // visible option fake
  .fake-option {
    position: relative;
    @extend .clearfix;
    height: $option-height;
    * {
      white-space: nowrap;
      height: $option-height - 2px;
      font-size: $option-font-size;
      opacity: 0.8;
      padding: 1px 2px;
      background: none;
    }
    .index {
      position: absolute;
      top: 0; left: 0;
      width: 14px;
      text-align: right;
      span {
        opacity: 1.0;
        margin-left: -2px;
      }
    }
    .title {
      position: relative;
      /* margin-left: 20px; */
      /* margin-right: 84px; */
      padding-left: 20px;
      padding-right: 84px;
      text-overflow: ellipsis;
      overflow-y: hidden;
    }
    .duration {
      float: right;
      width: 40px;
      text-align: right;
    }
    .rate {
      float: right;
      width: 40px;
      text-align: right;
    }
  }
}
