@import "common";
@import "clearfix";

#player {
  position: relative;
  margin-left: 120px;
  height: 100%;

  &.over {
    background: #FFDDFF;
  }
}
.player-control {
  position: absolute;
  top: 24px; left: 0;
  width: calc(100% - 20px);
  height: 160px;
  padding: 0px 10px;

  input {
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 8px;
      height: 16px;
      background: rgb(255, 221, 231);
      cursor: col-resize;
    }
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background: none;
      height: 16px;
      border-bottom: 12px solid #F080A0;
    }
  }

  .button, .button i {
    display: inline-block;
    width: 48px; height: 42px;
    font-size: 32px;
    margin-top: 4px;
  }

  .control-main {
    @extend .clearfix;
    width: 100%;
    height: 56px;
    margin: 4px 0;
    .buttons {
      float: left;
      width: 224px;
    }
    .gain {
      margin-top: 4px;
      margin-left: 224px;
    }
  }
  legend {
    font-size: 13px;
    opacity: 0.8;
  }
  .time, .rate {
    width: 100%;
    height: 48px;
  }
}
.player-playlist {
  position: absolute;
  top: 192px; left: 0;
  width: 100%;
  height: calc(100% - 192px);
  &.over {
    background: #FFAADD;
    border: 1ps solid red;
  }
}

.LoliPlaylist-wrapper {
  position: absolute;
  top: 0; left: 0;
  margin: 10px 10px 14px;
  border: 1px solid #FFAABB;
  width: calc(100% - 22px);
  height: calc(100% - 26px);
  overflow-x: hidden;
  overflow-y: auto;
}
/* .LoliPlaylist-inner { */
/*   position: absolute; */
/*   top: 0; left: 0; */

/*   width: 100%; */
/* } */
.LoliPlaylist {
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%;

  &.fake {
    z-index: 1;
    min-height: 100%;
  }
  &.real {
    z-index: 10;
    background: none;
    opacity: 0;
  }
  &.overlay {
    z-index: 2;
    background: none;
    min-height: 100%;
  }
  .option {
    width: 100%;
    height: 16px;
  }
  &.real, &.overlay {
    .option {
      opacity: 0;
      &.selected {
        background: #FFFFFF;
        opacity: 0.3;
      }
    }
  }
  .fake-option{
    @extend .clearfix;
    .title {
      position: relative;
      margin-right: 100px;
      text-overflow: ellipsis;
    }
    .duration {
      float: right;
      width: 50px;
    }
    .rate {
      float: right;
      width: 50px;
    }
  }
}
