@import "fonts";
@import "header", "player", "sidebar";
@import "common";

* {
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  user-select: none;
  margin: 0; padding: 0;
}

$header-height: 24px;

#app {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #FF88AA;
}

#header {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: $header-height;
}

#playlist-loader {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}

#sidebar {
  position: relative;
  float: left;
  margin-top: $header-height;
  width: 120px;
  height: 100%;
  backgrond: none;
}

#content {
  position: relative;
  margin-top: $header-height;
  margin-left: 120px;
  height: 100%;
}