<div class="player">
  <div class="player-control">
    <div class="control-main">
      <div class="buttons">
        <div class="button" v-on="click: backward"><i class="icon-e-backward"></i></div>
        <div class="button" v-on="click: play" v-show="!isPlaying"><i class="icon-e-play"></i></div>
        <div class="button" v-on="click: pause" v-show="isPlaying"><i class="icon-e-pause"></i></div>
        <div class="button" v-on="click: forward"><i class="icon-e-forward"></i></div>
        <div class="button" v-on="click: toggleLoop" v-class="disabled: !isLoop"><i class="icon-e-loop"></i></div>
      </div>
      <div class="gain">
        <legend>gain: {{gainRaw / 100.0 | rate}}</legend>
        <input class="input-gain" type="range" v-model="gainRaw" min="0" max="100" />
      </div>
    </div>

    <div class="time">
      <legend>time: {{time | time}} / {{track.song.duration | time}}</legend>
      <input class="input-time" type="range" v-model="timeRaw" min="0" max="10000" />
    </div>

    <div class="rate">
      <legend>rate: {{rateRaw / 100.0 | rate}}</legend>
      <input class="input-rate" type="range" v-model="rateRaw" min="100" max="250" />
    </div>
  </div>

  <div class="player-playlist" v-droppable="callback: onDropList, over: 'overList'" v-class="over: overList">
    <loli-playlist v-with="playlist:playlist, currentTrack:currentTrack" v-ref="playlistVM"></loli-playlist>
  </div>
</div>
