<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>💖💕💗L  O  L  I  P  O  P💖💕💗</title>
  <link rel="stylesheet" href="main.css">
</head>

<body id="app">
  <div id="sidebar">
  </div>

  <div id="player" class="main">
    <div class="player-control">
      <div class="button" v-on="click: backward"><i class="icon-e-backward"></i></div>
      <div class="button" v-on="click: play" v-show="!isPlaying"><i class="icon-e-play"></i></div>
      <div class="button" v-on="click: pause" v-show="isPlaying"><i class="icon-e-pause"></i></div>
      <div class="button" v-on="click: forward"><i class="icon-e-forward"></i></div>
      <legend>time: {{time | time}} / {{duration | time}}</legend><input class="time" type="range" v-model="timeRaw" min="0" max="10000" />
      <legend>gain: {{gainRaw / 100.0 | rate}}</legend><input class="gain" type="range" v-model="gainRaw" min="0" max="100" />
      <legend>rate: {{rateRaw / 100.0 | rate}}</legend><input class="rate" type="range" v-model="rateRaw" min="100" max="250" />
    </div>
    <div class="player-playlist" v-droppable="callback: onDropList, over: 'overList'" v-class="over: overList">
      <div v-component="loli-playlist" v-with="songs:songs"></div>
    </div>
  </div>

  <script src="app.js"></script>
</body>
